.v-list-item__subtitle {
    &.yellow--text {
        color: #ffeb3b !important;
    }

    &.orange--text {
        color: #ff9800 !important;
    }

    &.red--text {
        color: #F44336 !important;
    }
}
